/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* nav bar */
.navbar {
  overflow: hidden;
  background-color: seagreen;
  position: sticky;
  position: -webkit-sticky;
  margin-top: 10%;
  width: 100%;
}

/*links within nav bar*/
.navbar a {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: inline-block;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.nav-link2-centered {
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-link3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

/* color change on hover */
.navbar a:hover {
  background: rgb(255, 255, 255);
  color: black;
}

/* main content */
.main {
  margin-top: 30px;
}

.grnhead {
  text-align: center;
  color: seagreen;
}

/* career search */
.jobshead {
  display: inline;
  color: seagreen;
  margin: 5px 20px 5px 0;
}

.careersearch {
  display: block;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;

}

.careersearch input {
  vertical-align: middle;
  margin: 5px 20px 5px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
}

.careersearch select {
  vertical-align: middle;
  margin: 5px 20px 5px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
  ;
}

.careersearch button {
  padding: 11px 25px;
  margin: 5px 20px 5px 0;
  vertical-align: middle;
  background-color: darkorange;
  border: none;
  color: white;
  border: 1px solid lightgray;
}

.careersearch button:hover {
  background-color: rgb(241, 167, 55);
  color: black;
}

.container {
  height: 20px;
  padding: 20px;
  position: relative;
  border: none;
}

.centerbtn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centerbtn button {
  padding: 11px 25px;
  margin: 5px 20px 5px 0;
  vertical-align: middle;
  background-color: darkorange;
  border: none;
  color: white;
  border: 1px solid lightgray;
}

.centerbtn button:hover {
  background-color: rgb(241, 167, 55);
  color: black;
}

/* advantage table */
.centertbl {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.lilhead {
  color: seagreen;

}

/* home loan */
.whthead {
  color: white;
  background: seagreen;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

.loantxt {
  background-color: lightgray;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
  color: darkgray
}

/* footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.social-media-icon {
  max-height: 25px;
  margin: 0px 15px 0px 15px;
}

.link {
  color: black;
}

/* media */
@media (max-width: 800px) {
  .careersearch input {
    margin: 10px 0;
  }

  .careersearch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

body {
  font-size: 10pt;
}

@media (min-width: 576px) {
  body {
    font-size: 14pt;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 12pt;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 10pt;
  }
}