img {
  max-width: 100%;
  display: block;
  position: relative;
}

/* Default styles */
body {
  font-size: 18px;
}

/* Media query for tablet breakpoint */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* Media query for mobile breakpoint */
@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}